:root {
  --text-color: #c7c6fa;
}

body {
  display: flex;
  background: #101010;
}

.side_left {
  width: 13%;
  height: auto;
  background: #3e3336 url(../images/Side01.png) left center / 260px no-repeat fixed;
}

.side_right {
  width: 13%;
  height: auto;
  background: #3e3336 url(../images/Side02.png) right center / 260px no-repeat fixed;
}

.side_left img {
  display: inline-block;
  width: 100%;
}

.side_right img {
  display: inline-block;
  width: 100%;
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

aside {
  width: 273px;
  height: 100%;
  padding: 20px 25px;
  border-right: 1px solid #d1d1d1;
  box-sizing: border-box;
}

.title div h1 {
  margin-bottom: 60px;
  text-align: center;
}

.title div h1 img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.title div h1 a {
  font-size: 35px;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
}

.write {
  display: block;
  width: 100%;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 52px;
  color: #fff;
  background-color: #0008c3;
  text-decoration: none;
}

.main_menu ul{
  list-style: none;
}

.panel-body ul{
  list-style: none;
}

.scroll ul{
  list-style: none;
}

.slidecontainer, .sub_menu, .kart_body{
  list-style: none;
}

.search_Box {
  position: relative;
}

.search_Box label {
  overflow: hidden;
  display: block;
  text-indent: -9999em;
  visibility: hidden;
}

.search_Box input {
  width: 100%;
  height: 52px;
  background-color: #101010;
  color: #fff;
  border: 1px solid #fff;
  box-sizing: border-box;
  outline: none;
}

.sub_menu {
  color: #fff;
}

.video h2,
p {
  color: var(--text-color);
}

.album h2 {
  color: var(--text-color);
}

.season_kart h2,
p {
  color: var(--text-color);
}

.panel_menu {
  margin-bottom: 20px;
}

.panel-heading {
  font-weight: bold;
  padding: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.panel-body {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: 0.3s ease-out;
}

.active .panel-body {
  max-height: 300px;
}

.top_util {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #d1d1d1;
}

.top_util div {
  display: flex;
  justify-content: flex-end;
}

.top_util div a {
  border: 1px solid #fff;
}

.search_Box button{
  position: absolute;
  right: 0;
  height: 52px;
  border:none;
  padding:0; 
  margin:0; 
  outline:none;
}

.main_menu li:first-child a{
  color: var(--text-color);
  text-decoration: none;
}

.main_menu li:last-child a{
  color: var(--text-color);
  text-decoration: none;
}

.panel_heading div{
  color: var(--text-color);
  text-decoration: none;
}

.panel-body ul li a{
  color: var(--text-color);
  text-decoration: none;
}

.main_menu ul{
  margin-top: 30px;
}

.main_menu ul li:not(:first-child, :last-child){
  color: #6E6CCB;
}

main {
  flex: 1;
}
