body {
  display: flex;
  background: #101010;
}

.side_left {
  width: 13%;
  height: auto;
  background: #3e3336;
}

.side_right {
  width: 13%;
  height: auto;
  background: #3e3336;
}

.side_left img {
  display: inline-block;
  width: 100%;
}

.side_right img {
  display: inline-block;
  width: 100%;
}

.wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

aside {
  width: 200px;
  border-right: 1px solid #fff;
}

main {
  flex: 1;
}
